@import '../../scss/main';
.cardlink {
    position: relative;
    display: block;
    &__img {
        height: auto;
        width: 100%;
        border-radius: 3px;
        border: none;
        opacity: 0.9;
        transition: all .2s ease-in;
        .cardlink:hover & {
            opacity: 1;
        }
    }
    &__text {
        position: absolute;
        top: 50%;
        right: 50%;
        transform: translate(50%, -50%);
        color: #fff;
        font-weight: bold;
        z-index: 11;
        width: 100%;
        text-align: center;
        background: rgba(26, 86, 144, 0.6);
        padding: 10px 0;
        transition: all .2s ease-in;
        max-height: 122px;
        overflow: hidden;
        .cardlink:hover & {
            background: rgba(26, 86, 144, 0.8);
        }
    }
    &__link {
        display: block;
    }
}