@import '../../scss/main';

.cardlink {
    display: block;
    font-family: $font;
    background-color: #fff;
    border-radius: 3px;
    padding-bottom: 10px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);

    &:hover {
        box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
    }

    &__img {
        height: auto;
        width: 100%;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        border: none;
        opacity: 0.9;
        transition: all .1s ease-in;
    }

    &__text {
        display: block;
        // color: #fff;
        color: $mainBlueColor;
        font-weight: bold;
        font-size: 15px;
        z-index: 11;
        width: 100%;
        text-align: center;
        padding: 10px 15px 0;
        transition: all .1s ease-in;
        height: 54px;
        overflow: hidden;
        opacity: 0.85;

        .cardlink:hover & {
            opacity: 1;
        }
    }

    &__link {
        display: block;
        text-decoration: none;
    }
}