@import '../../scss/main';

.not-found {
    max-width: 1000px;
    font-family: $font;
    color: $fontColor;
    @include centerAbsolute(30%, 50%);

    @media (max-width: 700px) {
        width: 100%;
        padding: 0 20px;
    }

    &__header {
        color: $mainBlueColor;
        text-align: center;
        font-size: 50px;
    }

    &__paragraph {
        text-align: center;
    }
}