@import '../../scss/main';

.not-found {
    position: absolute;
    max-width: 1000px;
    top: 30%;
    left: 50%;
    -webkit-transform: translate(-50%, -30%);
    transform: translate(-50%, -30%);
    font-family: $font;
    color: $fontColor;

    @media (max-width: 700px) {
        width: 100%;
        padding: 0 20px;
    }

    &__header {
        color: $mainBlueColor;
        text-align: center;
        font-size: 50px;
    }
}