@import '../../scss/main';
.contact {
    max-width: 630px;
    margin: 0 auto;
    padding: 10px 0 120px;
    font-family: $font;
    color: $fontColor;
    @media (max-width: 660px) {
        padding-bottom: 170px;
    }
    &__description {
        font-size: 16px;
        margin: 0 0 30px;
        @media (max-width: 660px) {
            padding: 0 10px;
        }
    }
    &__fb-comments {
        border: 1px solid $borderColor;
        padding: 10px 15px;
        @media (max-width: 450px) {
            padding: 0;
        }
    }
}
