@import '../../scss/main';
.header {
    padding: 20px 20px;
    font-family: $font;
    color: $fontColor;
    &__inner {
        max-width: 1000px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
    }
    &__logo {
        color: #1A5690;
        font-size: 25px;
        font-weight: bold;
        text-decoration: none;
        i {
            font-size: 26px;
        }
    }
    &__logo-text {
        @media (max-width: 620px) {
            display: none;
        }
    }
    & .nav__burger {
        display: none;
        position: absolute;
        top: -9px;
        right: 0;
        @media (max-width: 650px) {
            display: inline-block;
        }
    }
}

.nav {
    &__link {
        color: #1A5690;
        text-decoration: none;
        transition: all .1s ease-in;
        opacity: .6;
        font-size: 16px;
        margin-top: 5px;
        display: block;
        margin-left: 15px;
        &--active {
            opacity: 1;
        }
        &:hover {
            opacity: 1;
        }

        @media (max-width: 650px) {
            margin-top: 10px;
        }
    }
    &__inner {
        display: flex;
        @media (max-width: 650px) {
            display: none;
        }
    }
    &__inner-mobile {
        display: flex;
        flex-direction: column;
        position: absolute;
        right: 74px;
        top: -4px;
        text-align: right;
        z-index: 10;
    }
}

