@import '../../scss/main';
.footer {
    padding: 30px 20px;
    background-color: #F5F5F5;
    border-top: 1px solid #e9ebee;
    font-family: $font;
    color: $fontColor;
    font-size: 14px;
    position: absolute;
    bottom: 0;
    width: 100%;
    &__inner {
        max-width: 1000px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        width: 100%;
        @media (max-width: 800px) {
            flex-direction: column;
            align-items: center;
            text-align: center;
        }
    }
    &__text {
        display: block;
        @media (max-width: 800px) {
            margin-bottom: 20px;
        }
        i {
            color: red;
        }
    }
}