@import '../../scss/main';

.cardslist {
    padding: 40px 25px 35px;
    font-family: $font;
    color: $fontColor;
    background-color: #F5F5F5;
    border-bottom: 1px solid #e9ebee;
    border-top: 1px solid #e9ebee;

    @media (max-width: 800px) {
        padding-bottom: 40px;
    }

    @media (max-width: 700px) {
        padding-bottom: 40px;
    }

    @media (max-width: 425px) {
        padding-bottom: 30px;
    }

    &__inner {
        @include inner(1100px);
        text-align: center;
    }

    i {
        text-align: center;
        color: #1A5690;
        font-size: 50px;
        position: relative;
        z-index: 10;
    }

    &__header {
        color: $fontColor;
        font-size: 25px;
        text-align: center;
        margin-top: 5px;
    }

    &__description {
        // &:first-child {
        //     margin-bottom: 15px;
        // }
        margin: 0 0 35px;
    }

    &__wrapper {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-row-gap: 20px;
        grid-column-gap: 20px;
        margin-bottom: 35px;
        position: relative;
        min-height: 150px;

        @media (max-width: 900px) {
            grid-template-columns: repeat(3, 1fr);
        }

        @media (max-width: 700px) {
            grid-template-columns: 1fr 1fr;
        }

        @media (max-width: 500px) {
            grid-template-columns: 1fr;
            position: relative;
            min-height: 100px;
        }
    }

    &__btn {
        display: block;
        margin: 0 auto;
        background-color: $mainBlueColor;
        border: 0;
        font-family: $font;
        color: #fff;
        border-radius: 3px;
        padding: 12px 25px;
        font-weight: bold;
        transition: all .1s ease-in;
        cursor: pointer;
        opacity: 0.9;

        &:hover {
            opacity: 1;
            box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
        }
    }

    &__notification {
        text-align: center;
    }

    &__link {
        color: $mainBlueColor;
        text-decoration: none;
        transition: all .1s ease-in;
        opacity: .6;

        &:hover {
            opacity: 1;
        }
    }

    &__support {
        background-color: #1a56901c;
        border: 1px solid $borderColor;
        border-radius: 4px;
        padding: 30px;
        margin: 0 0 40px;

        i {
            float: left;
            color: $mainBlueColor;
            font-size: 62px;
            margin-right: 30px;
            text-shadow: 1px 1px 1px #000;

            @media (max-width: 500px) {
                margin-right: 15px;
            }
        }
    }

}